<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="margin-top: 150px;">
        <h5>Chat with <%= @other_user.username %></h5>
        <% if @chat.messages.any? %>
          <div id="messages" style="margin: 5px">
            <%= render partial: 'messages/message', collection: @chat.messages.order(id: :asc)%>
          </div>
        <%else%>
          <div id="messages">
          </div>
        <%end%>
      </div>
      <div class="messageBox" >
        <%= render partial: 'messages/message_form', locals: {message: @message, chat: @chat}%>
      </div>
      </div>
    </div>
  </div>
</div>
<script>
  createMessageChannel();
  // app/assets/javascripts/channels/messages.js 
  messageForm();
  // app/assets/javascripts/messages_form.js
</script>
